---
import { DocDrawer } from '@/components/help/doc-drawer'
import { DocTreeNode } from '@/components/help/doc-tree-node'
import { BaseCol } from '@/components/layout/base-col'
import { HCenterCol } from '@/components/layout/h-center-col'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buildNodeTree, DOCS_DIR } from '@/lib/docs'
import { SITE_TITLE } from '../consts'

const rootNode = await buildNodeTree(DOCS_DIR)
---

<BaseLayout title={SITE_TITLE} bg="bg-background">
  <DocDrawer
    node={rootNode}
    slug={[]}
    client:only="react"
    slot="small-header-left"
  />

  <HCenterCol slot="main" className="mt-4 min-h-screen">
    <div
      class="grid w-full grow grid-cols-1 p-4 lg:w-4/5 lg:grid-cols-5 lg:gap-x-8"
    >
      <aside class="col-span-1 hidden flex-col lg:flex">
        <div class="sticky top-24">
          <DocTreeNode
            node={rootNode}
            slug={[]}
            client:only="react"
            className="text-sm"
          />
        </div>
      </aside>

      <BaseCol className="docs col-span-4 flex grow flex-col text-sm">
        {SITE_TITLE} Documentation
      </BaseCol>
    </div>
  </HCenterCol>
</BaseLayout>
