---
import { SITE_TITLE } from '../consts'
import { DocAutocompleteQuery } from './help/doc-autocomplete'
import { HCenterRow } from './layout/h-center-row'
import { VCenterRow } from './layout/v-center-row'
---

<header
  id="header"
  class="bg-background/25 trans-color sticky top-0 z-40 border-b border-transparent px-2 py-4 backdrop-blur-md"
>
  <nav class="flex flex-col gap-4 lg:hidden">
    <VCenterRow className="justify-between gap-4">
      <VCenterRow className="gap-3">
        <slot name="small-header-left" />

        <a href="/" class="flex items-center gap-2">
          <img
            src="/favicon.svg"
            alt={SITE_TITLE}
            class="aspect-square h-6 w-6 shrink-0"
          />
        </a>
      </VCenterRow>
      <DocAutocompleteQuery className="grow text-sm" client:only="react" />
      <!-- <VCenterRow className="justify-end gap-4">
        <ThemeToggle client:only="react" />
        <slot name="small-header-right" />
      </VCenterRow> -->
    </VCenterRow>
    <VCenterRow className="px-2">
      <slot name="small-header-bottom" />
    </VCenterRow>
  </nav>

  <nav class="hidden grid-cols-1 items-center gap-4 lg:grid lg:grid-cols-4">
    <h2 class="text-lg font-bold">
      <a href="/" class="flex items-center gap-2"
        ><img
          src="/favicon.svg"
          alt={SITE_TITLE}
          class="aspect-square h-9 w-9 shrink-0"
        />
        {SITE_TITLE}
      </a>
    </h2>

    <HCenterRow className="col-span-2 hidden lg:flex">
      <DocAutocompleteQuery className="w-2/3 text-sm" client:only="react" />
    </HCenterRow>

    <!-- <VCenterRow className="justify-end gap-4">
      <ThemeToggle client:only="react" />
    </VCenterRow> -->
  </nav>
</header>

<script>
  // Run in browser after hydration

  const header = document.getElementById('header')!

  window.addEventListener('scroll', () => {
    if (window.scrollY > 0) {
      header.classList.remove('border-transparent')
      header.classList.add('border-border/50')
    } else {
      header.classList.remove('border-border/50')
      header.classList.add('border-transparent')
    }
  })
</script>
